body{
    background-color: #013d22d2 ;
    color: rgb(0, 0, 0);
    text-align: center;
}
#calculadora{
    width: 320px;
    height: 480px;
    background-color: rgba(128, 128, 128, 0.342);
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
}
#tela{
    height: 120px;
    width: 300px;
    background-color: rgba(37, 153, 28, 0.83);
    border-radius: 20px;
    margin: auto;
    text-align: right;
    font-size: 50px;
    overflow: hidden;

}
#botoes{
    /* background-color: black; */
    color: aliceblue;
    padding-right: 0%;
    padding-top: 35px;
    text-align: center;
    margin: 1px;
}
#tabela{
    margin: auto;
    text-align: center;
    border-spacing: 5px;
}
button{
    border-radius: 505px;
    padding: 18px 16px;
    border-width: 2px;
    cursor: pointer;

}
.nada{
    visibility: hidden;
}